<mat-sidenav-container *ngIf="isLogged; else viewLogin">
  <mat-sidenav #sidenav mode="side" opened="true" >
    <mat-toolbar color="primary">
      Menu
    </mat-toolbar>
    <app-sidebar ></app-sidebar>
  </mat-sidenav>
  

  <mat-sidenav-content>
    <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
    <router-outlet></router-outlet> 
    <!-- <app-footer></app-footer>    -->
  </mat-sidenav-content>  
</mat-sidenav-container>

<ng-template #viewLogin>
  <router-outlet></router-outlet> 
</ng-template>


