<mat-list>
    <mat-list-item ><a routerLink="">{{'HOME' | translate}}</a></mat-list-item>
    <mat-list-item class="separator"></mat-list-item>
    <mat-list-item ><a routerLink="">{{'SUMMARY'| translate}}</a></mat-list-item>
    <mat-list-item class="separator"></mat-list-item>
    <mat-list-item routerLinkActive="active"><a routerLink="/merchandise">{{'MERCHANDISE'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'KIOSK'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'LOTTERY'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'BEST_PLAYER'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'SOLD_TICKETS'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'SPECIAL_TICKETS'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'SEASON_TICKETS'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'PAYMENTS'| translate}}</a></mat-list-item>
    <mat-list-item class="separator"></mat-list-item>
    <mat-list-item ><a routerLink="">{{'LEAGUES' | translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'STADIUMS' | translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'TEAMS' | translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'PLAYERS'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'MATCHES'| translate}}</a></mat-list-item>
    <mat-list-item class="separator"></mat-list-item>
    <mat-list-item ><a routerLink="">{{'NEWS'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'SPONSORS'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'ON'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'CLUB_INFORMATION'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'PUBLICWEB_PROPERTIES'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'FACEBOOK_TRACKING'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'FIDELITY_PROGRAM'| translate}}</a></mat-list-item>
    <mat-list-item class="separator"></mat-list-item>
    <mat-list-item ><a routerLink="">{{'APP_USERS'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'MEMBERS'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'SSU'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'HKGRAM'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'MESSAGING'| translate}}</a></mat-list-item>
    <mat-list-item class="separator"></mat-list-item>
    <mat-list-item ><a routerLink="">{{'VAT_CONFIGURATION'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'TICKET_OFFICE'| translate}}</a></mat-list-item>
    <mat-list-item routerLinkActive="active"><a routerLink="/admin-users" >{{'MANAGERS'| translate}}</a></mat-list-item>
    <mat-list-item ><a routerLink="">{{'REPORTS'| translate}}</a></mat-list-item>


</mat-list>
   
